@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  position: absolute;
  overflow-x:hidden;
}

body{

  background-attachment: fixed;
  background-size: cover;
  overflow-x:hidden;

}

.imgContainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
}
.main-body{
  width: 100vw;
}
.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}


.timer  input:hover{
  border: none;
  outline: none;
}
.timer  input:focus{
  border: none;
  outline: none;
}
.outer{
  background-image: conic-gradient(#93c5fd 0deg,transparent 0deg, transparent 360deg);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}